UXTerm*termName: xterm-256color
UXTerm.vt100.locale: true
UXTerm.vt100.metaSendsEscape: true
UXTerm.vt100.backarrowKey: false
UXTerm.ttyModes: erase ^?
UXTerm.vt100.saveLines: 1000
UXTerm.vt100.scrollBar: false
UXTerm.vt100.scrollbar.width: 8

UXTerm.vt100.background: #1C2733
UXTerm.vt100.foreground: #FAFAFA

UXTerm.vt100.renderFont: true
UXTerm.vt100.faceName: Fira Code Regular
UXTerm.vt100.faceSize: 12

xterm*VT100.Translations: #override \
      Shift <KeyPress> Insert: insert-selection(CLIPBOARD) \n\
      Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
      Ctrl Shift <Key>C:    copy-selection(CLIPBOARD) \n\
      Ctrl <Btn1Up>: exec-formatted("xdg-open '%t'", PRIMARY)
